{% extends "layout.html" %}

{% block input %}
  {% if error %}<div class="alert alert-danger"><strong>Error:</strong>{{ error }}</div>{% endif %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/imgareaselect-default.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.imgareaselect.pack.js') }}"></script>

  <script>
    $(document).ready(function () {
        $('#ferret').imgAreaSelect({aspectRatio: '1:1' ,
          onSelectEnd: function (img, selection) {
            $('input[name="x1"]').val(selection.x1);
            $('input[name="y1"]').val(selection.y1);
            $('input[name="x2"]').val(selection.x2);
            $('input[name="y2"]').val(selection.y2);
          }
        });
    });
  </script>

<div>
  <!-- <img id="ferret" src="{{ url_for('static', filename='upload_pic/006001.jpg') }}" style="position:relative;" /> -->
</div>
<br>
  <form action="{{ url_for('resize') }}" method="post">
    <input type="hidden" name="x1" value="" />
    <input type="hidden" name="y1" value="" />
    <input type="hidden" name="x2" value="" />
    <input type="hidden" name="y2" value="" />
    <input type="submit" class="btn btn-default" name="submit" value="確認範圍" />
  </form>

{% endblock %}